* {
    box-sizing: border-box;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #1d5370;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
  background: #2a7596;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .message a {
  color: #1d5370;
  text-decoration: none;
}

.form .message a:hover {
    color: #2a7596;
}

.form .register-form {
  display: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}

.container .info {
  margin: 50px auto;
  text-align: center;
}

.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}

.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}

.container .info span a {
  color: #000000;
  text-decoration: none;
}

.container .info span .fa {
  color: #EF3B3A;
}

body {
  margin: 0;
  padding: 0;
  background: #ffffff; /* fallback for old browsers */
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

/* media stuff -- example to start off with */

.question {
	font-weight: 600;
}

.answers {
    margin-bottom: 20px;
}

#submit {
	font-family: sans-serif;
	font-size: 20px;
	background-color: #297;
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
}

#submit:hover{
	background-color: #3a8;
}

#outer-dropzone {
    height: 140px;
  
    touch-action: none;
  }
  
  #inner-dropzone {
    height: 80px;
  }
  
  .dropzone {
    background-color: #ccc;
    border: dashed 4px transparent;
    border-radius: 4px;
    margin: 10px auto 30px;
    padding: 10px;
    width: 80%;
    transition: background-color 0.3s;
  }
  
  .drop-active {
    border-color: #aaa;
  }
  
  .drop-target {
    background-color: #29e;
    border-color: #fff;
    border-style: solid;
  }
  
  .drag-drop {
    display: inline-block;
    min-width: 40px;
    padding: 2em 0.5em;
  
    color: #fff;
    background-color: #29e;
    border: solid 2px #fff;
  
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  
    transition: background-color 0.3s;
  }
  
  .drag-drop.can-drop {
    color: #000;
    background-color: #4e4;
  }

  .about-container {
    padding: 5em;
    margin: 0 auto;
    width: 60%;
  }
  
  .content {
    position: relative;
    width: 100%;
    min-width: 500px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
  }

  .content table {
    width: 100%;
  }

  th {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    color: #fff;
    font-size: 1.3em;
  }

  td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
  }
  
  .content .content-overlay {
    background: rgba(13, 17, 24, 0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }

  .content .content-filter {
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
  }

  .content:hover .content-overlay {
    opacity: 1;
  }

  .content:hover .content-filter {
    opacity: 0;
  }
  
  .content-filter h1 {
    color: #d3f4f2;
    text-shadow: 5px 8px #1d5370;
    opacity: 1;
    font-size: 6em;
  }

  .content-image {
    filter: blur(0.2rem);
    max-width: 100%;
    height: auto;
  }
  
  .content-details {
    position: absolute;
    text-align: left;
    font-size: 125%;
    padding-left: 4em;
    padding-right: 4em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .content:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
  }
  
  .content-details p{
    color: #fff;
    font-size: 0.8em;
  }

  .searchBox {
    float: right;
}
 .searchBox input {
    height: 2.5rem;
    font-size: 1rem;
    padding: .5rem;
    vertical-align: center;
}
 .searchBox button {
    vertical-align: center;
    height: 2.5rem;
    font-size: 1rem;
    padding: .3rem;
}
 .searchbox button:after {
    border: inset;
}
 .card {
    background: #ebf7f5;
    margin: 0 auto;
    vertical-align: center;
    float: none; 
    margin-bottom: 10px; 
}

  
@media (min-width: 598px) {

}

@media (min-width: 768px) {
    
}

@media (min-width: 992px) {
    a {
        text-decoration: none;
        color: #b4efed;
        
        transition: color 0.3s ease;
    }
      
    a:hover {
        color: #d3f4f2;
    }
      
    #menuToggle {
        display: block;
        position: absolute;
        top: 50px;
        left: 50px;
        
        z-index: 1;
        
        -webkit-user-select: none;
        user-select: none;
    }
      
    #menuToggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        
        cursor: pointer;
        
        opacity: 0; 
        z-index: 2; 
        
        -webkit-touch-callout: none;
    }
      
    #menuToggle span {
        display: block;
        position: absolute;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        
        background: #1d5370;
        border-radius: 3px;
        
        z-index: 1;
        
        transform-origin: 4px 0px;
        
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;
    }
      
    #menuToggle span:first-child {
        transform-origin: 0% 0%;
    }
      
    #menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }
      
    #menuToggle input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #b4efed;
    }
      
    #menuToggle input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }
      
    #menuToggle input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }
      
    #menu {
        position: absolute;
        width: 300px;
        margin: -100px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
        
        background: #1d5370;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */
        
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
      
    #menu li {
        padding: 10px 0;
        font-size: 22px;
    }
      
    #menuToggle input:checked ~ ul {
        transform: none;
    }

    #about .container {
        display: block;
        width: 100%;
    }
}

@media (min-width: 1200px) {

}
